<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team16.pc.healthmonitoringsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Health Monitoring"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePageActivity"
            android:label="@string/activity_main_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>
        <activity android:name=".ViewHealthActivity" />
        <activity
            android:name=".RegisterIdDeviceActivity"
            android:noHistory="true" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:noHistory="true" />
        <activity android:name=".ViewProfileActivity"
            android:noHistory="true"/>
        <activity
            android:name=".RegisterNameActivity"
            android:noHistory="true" />
        <activity
            android:name=".CreateAccountActivity"
            android:noHistory="true" />
        <activity
            android:name=".RegisterBirthdayActivity"
            android:noHistory="true" />
        <activity
            android:name=".RegisterGenderActivity"
            android:noHistory="true" />
        <activity
            android:name=".RegisterInfoLoginActivity"
            android:noHistory="true" />
        <activity android:name=".EditProfileActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>